<ng-template #empty>
  <span class="ws-loading ws-shift">You currently have no saved playlists.</span>
</ng-template>

<div class="playlist ws-shift">
  <h3 class="playlist__top-heading">Playlists</h3>
  <span class="playlist-btn ws-btn" (click)="open()" >New Playlist</span>
  <ws-browse-item *ngIf="(playlists$ | async)?.length; else empty" [isLoaded]="isLoaded$ | async" [items]="playlists$ | async"></ws-browse-item>
</div>

<ws-player
  [playing]="playerHandler.isPlaying()"
  (play)="playerHandler.play()"
  (pause)="playerHandler.pause()"
  (stop)="playerHandler.stop()"
  (next)="playerHandler.next()"
  (previous)="playerHandler.previous()">
</ws-player>
