@import "~src/assets/scss/styles";

.navbar {
    &-logo {
        font-family: "harabara";
        font-size: 2rem;
        color: $mainBrown;

        &:hover {
            color: $mainBrown;
        }
    }

    &-toggler-icon {
        cursor: pointer;
    }

    &-right {
        font-family: "Open Sans",sans-serif;
        display: flex;
        align-items: center;

        &__join {
            margin-right: 25px;
            font-weight: 600;
            cursor: pointer;
        }

        &__auth {
            padding: 8px 20px;
            margin-right: 20px;
        }
    }

    &-dropdown {
        &__menu-item {
            font-size: .9rem;
            cursor: pointer;
            padding: 5px 10px;

            &:hover {
                background-color: $mainBlue;
                color: white;
            }
        }
    }
}

.dropdown-menu.show {
    text-align: center;
}
