@import "~src/assets/scss/styles";

.navbar {
    &-logo {
        font-family: "harabara";
        font-size: 2rem;
        color: $mainBrown;

        &:hover {
            color: $mainBrown;
        }
    }

    &-toggler-icon {
        cursor: pointer;
    }
}
