<nav class="navbar navbar-expand-md navbar-light fixed-top d-flex justify-content-between">
  <a class="ws-logo" routerLink="">Waless</a>
  <div class="navbar-right">

    <div *ngIf="!loggedIn()" class="unauth">
      <span class="navbar-right__join" (click)="auth(true)">Join</span>
      <span class="navbar-right__auth ws-btn" (click)="auth()">Login</span>
    </div>
    <div routerLink="browse" [ngStyle]="{'margin-right':'20px'}" class="ws-btn">Browse</div>
    <div *ngIf="loggedIn()" class="dropdown navbar-dropdown" ngbDropdown>
      <span class="ws-btn navbar-right__auth dropdown-toggle" ngbDropdownToggle>
        {{authService.decodedToken?.email}}
      </span>
      <div class="dropdown-menu" ngbDropdownMenu>
        <span class="dropdown-item navbar-dropdown__menu-item">Edit Profile</span>
        <div class="dropdown-divider"></div>
        <span class="dropdown-item navbar-dropdown__menu-item" (click)="logout()">Logout</span>
      </div>
    </div>

    <span class="navbar-toggler-icon"></span>
  </div>
</nav>
