$mainBrown: rgb(124, 80, 15);
$mainWhite: #FFF;
$mainBlue: #0F415C;
$lightBlack: #222326;
$mainBlack: #000;
$grayBlack: #1e1e1e;
$mainGray: gray;
$darkGray: #2C3034;
$smokeWhite: #f5f5f5;
$transparentBlack : rgba(0, 0, 0, 0.3);
$mainGold: #b76f03;
