$aristotelica-path: "/assets/fonts/aristotelica_display_extralight.otf";
$harabara_mais-path: "/assets/fonts/harabara_mais.otf";
$font-family-brand: "aristotelica";

@font-face {
  font-family: 'aristotelica';
  src:url($aristotelica-path) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'harabara';
  src:url($harabara_mais-path) format("opentype");
  font-weight: normal;
  font-style: normal;
}



