@import "~node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "~node_modules/font-awesome/css/font-awesome.min.css";
@import "~node_modules/alertifyjs/build/css/alertify.min.css";
@import "~node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

@import "./_variables";
@import "./fonts";

/*Reusables*/

.ws-btn {
    padding: 5px;
    background-color: $mainBlue;
    color: $mainWhite;

    &:hover {
        cursor: pointer;
    }
}

.ws-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px 40px;
    border-radius: 3.2px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.ws-error {
  display: block;
  color: red;
}

.ws-logo {
  font-family: "harabara";
  font-size: 2rem;
  color: $mainBrown;

  &:hover {
      color: $mainBrown;
  }
}

/*Bootstrap overrides*/

a:hover {
    text-decoration: none;
}

div.modal-content {
    border-radius: 0;
}

.modal-content {
  max-width: 80%;
}

.form-control {
    border-radius: .1rem;
}

.nav-tabs .nav-link {
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}

/*Animations*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        margin-left: -50px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
