@import "~node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "~node_modules/font-awesome/css/font-awesome.min.css";
@import "~node_modules/alertifyjs/build/css/alertify.min.css";
@import "~node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

@import "./_variables";
@import "./fonts";
@import "./mixins";

/*Reusables*/

.ws-btn {
    padding: 5px;
    background-color: $mainBlue;
    color: $mainWhite;

    &:hover {
        cursor: pointer;
    }
}

.ws-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px 40px;
    border-radius: 3.2px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.ws-error {
    display: block;
    color: red;
}

.ws-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $mainWhite;
}

.ws-shift {
    @include --phone {
        padding-left: 15%;

        .ws-ellipsis-more-container {
            left: 313px !important;
        }
    }


    @include --tablet {
        padding-left: 24%;
    }


    @include --desktop {
        padding-left: 17%;
    }


    @include --large-desktop {
        padding-left: 14%;
    }


    @include --larger-desktop {
        padding-left: 11%;
    }
}

.ws-logo {
    font-family: "harabara";
    font-size: 2rem;
    color: $mainBrown;

    &:hover {
        color: $mainBrown;
    }
}

.ws-ul-reset {
    margin: 0;
    padding: 0;
}

.ws-focus-border {
    &:focus {
        outline: none;
    }
}

.ws-carousel {
    display: flex !important;
    flex-wrap: nowrap !important;
    transition-duration: 1s;
    cursor: pointer;
}

.ws-ellipsis-icon {
    cursor: pointer;
    display: none;
    padding-left: 20px;

    &-items {
        list-style: none;
        color: $smokeWhite;
        background-color: $grayBlack;
        padding: 15px;
        margin: 0;
        box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, 0.3);

        & .arrow {
            display: none;
        }

        &__item {
            padding: 8px;
            cursor: pointer;

            &:hover {
                background-color: $transparentBlack;
                transform: translateX(2px);
                transition: transform .5s;
            }
        }
    }
}

body {
    background: $grayBlack;
}

/*Bootstrap overrides*/

a:hover {
    text-decoration: none;
}

div.modal-content {
    border-radius: 0;
}

.modal-content {
    max-width: 80%;
}

.form-control {
    border-radius: .1rem;
}

.nav-tabs .nav-link {
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}

.ws-table td, .ws-table th {
    border-bottom: solid 1px rgba(128, 128, 128, 0.5);
    border-top: none !important;
}

.ws-table th, .ws-table tr {
    border: none !important;
}

.ws-table thead th {
    border-bottom: none !important;
}

.ws-add-playlist {
    color: $smokeWhite;

    &-container {
        left: -230px !important;
    }

    &-new {
        text-align: center;
        background-color: $lightGold;
        padding: 10px;
        opacity: .95;

        &:hover {
            opacity: 1;
        }
    }

    &-heading {
        text-align: center;
        opacity: .5;
        cursor: default;
    }

    &-items {
        height: 50vh;
        width: 150%;
        overflow: auto;
        text-align: center;

        &__item {
            font-size: 1rem;
            text-align: left;
        }
    }
}

.alertify .ajs-footer {
    border: none;
    border-radius: 0;
}

.alertify .ajs-header {
    border: none;
    border-radius: 0;
}

.alertify .ajs-dialog {
    border-radius: 0;
}

.popover {
    background-color: transparent;
}

.popover-body {
    padding: 0;
}

.bs-popover-bottom .arrow::after {
    display: none;
}

.drag-scroll-content {
  overflow: hidden !important;
}

/*Animations*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        margin-left: -50px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
