@import "~src/assets/scss/styles";

.artist {
    min-height: 100vh;
    color: $mainWhite;
    background-color: $grayBlack;
    font-family: "Open Sans", sans-serif;

    &-content {
        color: $mainWhite;
        padding-top: 50px;
        padding-left: 50px;

        &-details {
            display: flex;

            &__pic {
                border-radius: 50%;
            }

            &-sub-details {
                margin-left: 40px;

                &__name {
                    font-size: 3rem;
                    font-weight: 600;
                }

                &__play {
                    cursor: pointer;
                }

                &__fans {
                    font-size: .9rem;
                    padding-left: 4px;
                }

                &-desc-func {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;

                    &__desc {
                        margin-top: 20px;
                        cursor: pointer;
                        font-size: .94rem;
                        border-right: solid 1px;
                    }

                    &__func {
                        display: flex;
                        font-size: 1.5rem;

                        &__share {
                            cursor: pointer;
                            margin: 0 30px;
                        }

                        &__add {
                            cursor: pointer;
                            margin: 0 30px;
                        }
                    }
                }
            }
        }
    }

    &-collection {
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: 60px auto 0;

        &-tb {
            display: inline-block;

            &__header {
                font-family: 'aristotelica';
                letter-spacing: 3px;
            }

            &-table {
                padding: 0;
                margin-bottom: 0;
                padding-bottom: 20px;

                &__header {
                    font-family: 'aristotelica';
                    letter-spacing: 3px;
                }

                &-tracks {
                    &__album {
                        color: $mainGray;
                    }

                    &__duration {
                        color: $mainGray;
                        font-size: .9rem;
                    }
                }
            }
        }

        &-content {
            padding: 30px 0;

            &__header {
                font-family: 'aristotelica';
                letter-spacing: 3px;
            }

            &-albums {
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                max-width: 80vw;
                justify-content: center;

                &__album {
                    display: flex;
                    list-style: none;
                    margin: 20px;
                    flex-direction: column;
                    flex-basis: 135px;

                    &__name {
                        opacity: .8;
                        font-size: .94rem;
                        padding-top: 5px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &__pic {
                        max-height: 200px;
                        max-width: 200px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
