<ngb-alert [ngStyle]="{'text-align':'center'}"
*ngIf="isError" [type]="'danger'"
[dismissible]="true">Sorry. An error occured while loading tracks. Please reload.</ngb-alert>
<ng-template #loading>
  <span class="ws-loading ws-shift">Loading...</span>
</ng-template>
<ng-template #ellipsisContent>
  <ul class="ws-ellipsis-icon-items" >
    <li class="ws-ellipsis-icon-items__item">Play Next</li>
    <li class="ws-ellipsis-icon-items__item">Add to Library</li>
    <li class="ws-ellipsis-icon-items__item">Share</li>
  </ul>
</ng-template>

<div *ngIf="isLoaded && artist; else loading" class="artist ws-shift">

  <div class="artist-content">
    <div class="artist-content-details">
      <img class="artist-content-details__pic" [src]="artist.picture_medium" />
      <div class="artist-content-details-sub-details">
        <div class="artist-content-details-sub-details__name">
          {{artist.name}}
          <i class="fa fa-play-circle artist-content-details-sub-details__play" (click)="playerHandler.startSelectedTrack(topTracks,0)"></i>
        </div>
        <div class="artist-content-details-sub-details__fans">Fans - {{artist.nb_fan | number}}</div>
        <div class="artist-content-details-sub-details__desc">
          <div class="artist-content-details-sub-details-desc-func">
            <div (click)="openDialog()" class="artist-content-details-sub-details-desc-func__desc">
              {{(artistDesc | slice: 0:150)+"..."}}
            </div>
            <div class="artist-content-details-sub-details-desc-func__func">
              <i class="fa fa-share-alt-square artist-content-details-sub-details-desc-func__func__share"></i>
              <i class="fa fa-plus artist-content-details-sub-details-desc-func__func__add"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="artist-collection">
    <div class="artist-collection-tb">
      <h4 class="artist-collection-tb__header">Top Tracks</h4>
      <table class="artist-collection-tb-table table ws-table">
        <thead>
          <tr>
            <th class="artist-collection-tb-table__header" scope="col">Name</th>
            <th class="artist-collection-tb-table__header artist-collection-tb-table__header-album" scope="col">Album</th>
            <th class="artist-collection-tb-table__header" scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr class="artist-collection-tb-table-tracks" *ngFor="let track of topTracks, let i=index">
            <td class="artist-collection-tb-table-tracks__title" (click)="playerHandler.startSelectedTrack(topTracks,i)">
              <span class="artist-collection-tb-table-tracks__numbers">{{i+1}}</span>
              <i class="fa fa-heart-o artist-collection-tb-table-tracks__play-icon"></i>
              {{track.title_short | titlecase}}
            </td>
            <td class="artist-collection-tb-table-tracks__album">
              <span [routerLink]="['/album',track.album.id]" class="artist-collection-tb-table-tracks__album__text ws-focus-border">
                {{track.album.title | titlecase}}
              </span>
            </td>
            <td class="artist-collection-tb-table-tracks__duration">
              {{track.duration | trackDuration}}
              <i
              [ngbPopover]="ellipsisContent"
              placement="bottom"
              [autoClose]="true"
              class="fa fa-ellipsis-h artist-collection-tb-table-tracks__ellipsis-icon"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="artist-collection-content">
      <div class="artist-collection-content__top">
          <h4 class="artist-collection-content__top__header">Albums</h4>
          <span class="artist-collection-content__top__show-all ws-btn">Show All</span>
      </div>
      <ul class="artist-collection-content-albums">
        <li class="artist-collection-content-albums__album" *ngFor="let album of artistAlbums">
          <img class="artist-collection-content-albums__album__pic" [src]="album.cover_medium" [alt]="album.title">
          <span [routerLink]="['/album', album.id]" class="artist-collection-content-albums__album__name ws-focus-border">
            <strong>{{album.title | titlecase}}</strong>
          </span>
        </li>
      </ul>
    </div>
  </div>

</div>
<ws-player
  [playing]="playerHandler.isPlaying()"
  (play)="playerHandler.play()"
  (pause)="playerHandler.pause()"
  (stop)="playerHandler.stop()"
  (next)="playerHandler.next()"
  (previous)="playerHandler.previous()">
</ws-player>
