<div *ngIf="artist" class="artist ws-shift">

  <div class="artist-content">
    <div class="artist-content-details">
      <img class="artist-content-details__pic" [src]="artist.picture_medium" />
      <div class="artist-content-details-sub-details">
        <div class="artist-content-details-sub-details__name">
          {{artist.name}}
          <i class="fa fa-play-circle artist-content-details-sub-details__play"></i>
        </div>
        <div class="artist-content-details-sub-details__fans">Fans - {{artist.nb_fan | number}}</div>
        <div class="artist-content-details-sub-details__desc">
          <div class="artist-content-details-sub-details-desc-func">
            <div (click)="openDialog()" class="artist-content-details-sub-details-desc-func__desc">
              {{(artistDesc | slice: 0:150)+"..."}}
            </div>
            <div class="artist-content-details-sub-details-desc-func__func">
              <i class="fa fa-share-alt-square artist-content-details-sub-details-desc-func__func__share"></i>
              <i class="fa fa-plus artist-content-details-sub-details-desc-func__func__add"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="artist-collection">
    <div class="artist-collection-tb">
      <h4 class="artist-collection-tb__header">Top Tracks</h4>
      <table class="artist-collection-tb-table table ws-table">
        <thead>
          <tr>
            <th class="artist-collection-tb-table__header" scope="col">Name</th>
            <th class="artist-collection-tb-table__header" scope="col">Album</th>
            <th class="artist-collection-tb-table__header" scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr class="artist-collection-tb-table-tracks" *ngFor="let track of topTracks, let i=index">
            <td class="artist-collection-tb-table-tracks__title">{{track.title_short | titlecase}}</td>
            <td class="artist-collection-tb-table-tracks__album">{{track.album.title | titlecase}}</td>
            <td class="artist-collection-tb-table-tracks__duration">{{(track.duration /60 | number: '1.2-2') | trackDuration}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="artist-collection-content">
      <h4 class="artist-collection-content__header">Top Albums</h4>
      <ul class="artist-collection-content-albums">
        <li class="artist-collection-content-albums__album" *ngFor="let album of artistAlbums">
          <img class="artist-collection-content-albums__album__pic" [src]="album.cover_medium" [alt]="album.title">
          <span class="artist-collection-content-albums__album__name">
            <strong>{{album.title | titlecase}}</strong>
          </span>
        </li>
      </ul>
    </div>
  </div>

</div>
