@import "~src/assets/scss/styles";

.artist {
    min-height: 100vh;
    color: $smokeWhite;
    background-color: $grayBlack;
    font-family: "Open Sans", sans-serif;

    @include --phone {
        padding-left: 0;
    }


    @include --tablet {
        padding-left: 8%;
    }


    &-content {
        color: $smokeWhite;
        padding-top: 50px;
        padding-left: 50px;

        &-details {
            display: flex;

            @include --phone(0, 900px) {
                flex-direction: column;
                align-items: center;
            }


            @include --phone {
                margin-left: -25px;
            }


            &__pic {
                border-radius: 50%;

                @include --phone(0, 1000px) {
                    width: 180px;
                    height: 180px;
                }


                @include --phone(1001px, 1200px) {
                    width: 200px;
                    height: 200px;
                }


                @include --larger-desktop(1225px) {
                    padding-left: 50px;
                }
            }

            &-sub-details {
                margin-left: 40px;

                &__name {
                    display: flex;
                    align-items: center;
                    font-size: 3rem;
                    font-weight: 600;

                    @include --phone {
                        font-size: 2rem;
                        justify-content: center;
                    }


                    @include --tablet {
                        justify-content: center;
                        font-size: 2.5rem;
                    }
                }

                &__play {
                    cursor: pointer;
                    padding: 0 45px 0 20px;
                }

                &__fans {
                    font-size: .9rem;
                    padding-left: 4px;

                    @include --phone {
                        text-align: center;
                        margin-left: -10%;
                        padding-bottom: 10px;
                    }


                    @include --tablet {
                        text-align: center;
                        margin-left: -10%;
                        padding-bottom: 10px;
                    }


                    @include --desktop {
                        padding-bottom: 10px;
                    }
                }

                &-desc-func {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;

                    @include --phone(0, 1200px) {
                        grid-template-columns: 1fr;
                        margin-left: -4.6%;
                    }


                    &__desc {
                        margin-top: 20px;
                        cursor: pointer;
                        font-size: .94rem;
                        border-right: solid 1px;

                        @include --phone {
                            font-size: .9rem;
                        }


                        @include --phone(0, 1200px) {
                            border-right: none;
                            max-width: 90%;
                            padding-bottom: 18px;
                            border-bottom: solid 1px;
                            margin: 0 auto;
                        }
                    }

                    &__func {
                        display: flex;
                        font-size: 1.5rem;

                        @include --phone(0, 1200px) {
                            padding-top: 18px;
                        }


                        &__share {
                            cursor: pointer;
                            margin: 0 30px;
                        }

                        &__add {
                            cursor: pointer;
                            margin: 0 30px;
                        }
                    }
                }
            }
        }
    }

    &-collection {
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: 60px auto 0;

        &-tb {
            display: inline-block;

            @include --phone {}


            &__header {
                font-family: 'aristotelica';
                letter-spacing: 3px;

                @include --phone {
                    text-align: center;
                }


                &-album {
                    @include --phone {
                        display: none;
                    }
                }
            }

            &-table {
                padding: 0;
                margin-bottom: 0;
                padding-bottom: 20px;
                color: $mainGray;

                @include --phone {
                    margin-left: 11%;
                }


                &__header {
                    font-family: 'aristotelica';
                    letter-spacing: 3px;

                    &-album {
                        @include --phone(0, 683px) {
                            display: none;
                        }
                    }
                }

                &__ellipsis {
                    padding: 0 20px !important;
                }

                &-tracks {
                    &:hover {
                        cursor: pointer;
                        background-color: $transparentBlack;

                        .artist-collection-tb-table-tracks__play-icon,
                        .artist-collection-tb-table-tracks__ellipsis-icon {
                            display: inline;
                        }

                        .artist-collection-tb-table-tracks__numbers {
                            display: none;
                        }
                    }

                    &__album {
                        color: $mainGray;

                        @include --phone(0, 683px) {
                            display: none;
                        }


                        &__text {
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &__duration {
                        color: $mainGray;
                        font-size: .9rem;
                        padding-right: 10px;
                    }

                    &__play-icon {
                        padding-right: 10px;
                        cursor: pointer;
                        display: none;
                    }

                    &__ellipsis-icon {
                        cursor: pointer;
                        display: none;
                        padding-left: 20px;
                    }

                    &__numbers {
                        padding-right: 10px;

                        @include --phone {
                            display: none;
                        }
                    }

                    &__title {
                        @include --phone {
                            font-size: .9rem;
                        }
                    }
                }
            }
        }

        &-content {
            padding: 30px 0;

            @include --phone {
                margin-left: 7%;
            }


            &__top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include --phone {
                    padding: 0 20px;
                }


                &__show-all {
                    padding: 10px;
                    font-size: .8rem;
                    font-family: "Roboto", sans-serif;
                }

                &__header {
                    font-family: 'aristotelica';
                    letter-spacing: 3px;
                    margin: 0;
                    padding: 0;
                }
            }

            &-albums {
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                max-width: 80vw;
                justify-content: center;

                &__album {
                    display: flex;
                    list-style: none;
                    margin: 20px;
                    flex-direction: column;
                    flex-basis: 135px;

                    &__name {
                        opacity: .8;
                        font-size: .94rem;
                        padding-top: 5px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &__pic {
                        max-height: 200px;
                        max-width: 200px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
