<ws-tracks-display
[isLoaded]="isLoaded$ | async"
[isError]="isError$ | async"
[src]="playlist$ | async"
(addToPlaylist)="onAddToPlaylist($event)"
(deletePlaylist)="onPlaylistDelete($event)"
[trackList]="(playlist$ | async)?.tracks?.data || (playlist$ | async)?.tracks">
</ws-tracks-display>

<ws-player
  [playing]="playerHandler.isPlaying()"
  (play)="playerHandler.play()"
  (pause)="playerHandler.pause()"
  (stop)="playerHandler.stop()"
  (next)="playerHandler.next()"
  (previous)="playerHandler.previous()">
</ws-player>
