<section class="banner">
    <ws-navbar></ws-navbar>
  <div class="banner-content">
    <div class="banner-content__header">Music</div>
    <div class="banner-content__sub-header">Just for you.</div>
  </div>
</section>

<section class="choice">
  <div class="choice__button ws-btn">Start Listening</div>
  <div class="choice-content">
    <h2 class="choice-content__header">Your Music, Your Choice.</h2>
    <p class="choice-content__desc">
        Search for songs, artists, genres, and more to instantly start radio stations.
    </p>
  </div>
</section>



<section class="pricing">
  <div class="pricing-content">
    <h2 class="pricing-content__header">Free until you say otherwise.</h2>
    <div class="pricing-content-options">
        <div class="pricing-content-options__item pricing-content-options__free ws-card">
          <div class="pricing-content-options__item__text">
            <h4 class="pricing-content-options__item__header">Waless</h4>
            <h5 class="pricing-content-options__item__sub-header">Free</h5>
            <h2 class="pricing-content-options__item__sub-sub-header">Ad-supported music.</h2>
            <ul class="pricing-content-options__item__provisions">
              <li class="pricing-content-options__item__provisions__item">Listen to countless music</li>
            </ul>
          </div>
          <div class="pricing-content-options__button ws-btn">Start listening</div>
        </div>
        <div class="pricing-content-options__item pricing-content-options__premium-plus ws-card">
          <div class="pricing-content-options__item__text">
            <h4 class="pricing-content-options__item__header">Waless Plus</h4>
            <h5 class="pricing-content-options__item__sub-header">$4.99/month</h5>
            <h2 class="pricing-content-options__item__sub-sub-header">Music with no ads.</h2>
            <ul class="pricing-content-options__item__provisions">
              <li class="pricing-content-options__item__provisions__item">Unlimited personalized playlists</li>
              <li class="pricing-content-options__item__provisions__item">Higher quality music</li>
              <li class="pricing-content-options__item__provisions__item">Unlimited skips and replays</li>
              <li class="pricing-content-options__item__provisions__item">No ads</li>
            </ul>
          </div>
          <div class="pricing-content-options__button ws-btn">Start listening</div>
        </div>
        <div class="pricing-content-options__item pricing-content-options__family ws-card">
          <div class="pricing-content-options__item__text">
            <h4 class="pricing-content-options__item__header">Waless Family</h4>
            <h5 class="pricing-content-options__item__sub-header">$14.99/month</h5>
            <h2 class="pricing-content-options__item__sub-sub-header">On-demand music for up to 6 family members.</h2>
            <ul class="pricing-content-options__item__provisions">
              <li class="pricing-content-options__item__provisions__item">Everything from Waless Plus and even more</li>
              <li class="pricing-content-options__item__provisions__item">As low as $2.50 for each account</li>
              <li class="pricing-content-options__item__provisions__item">Invite new or existing Waless listeners</li>
              <li class="pricing-content-options__item__provisions__item">Everyone controls their own music</li>
            </ul>
          </div>
          <div class="pricing-content-options__button ws-btn">Start listening</div>
        </div>
    </div>
  </div>
</section>

<footer class="site-footer">
  <ul class="site-footer-content">
    <li class="site-footer-content__item">About</li>
    <li class="site-footer-content__item">Careers</li>
    <li class="site-footer-content__item">Press</li>
    <li class="site-footer-content__item">Terms</li>
    <li class="site-footer-content__item">Privacy</li>
  </ul>
</footer>
