<section class="banner">
    <ws-navbar></ws-navbar>
  <div class="banner-content">
    <div class="banner-content__header">Music</div>
    <div class="banner-content__sub-header">Just for you.</div>
  </div>
</section>

<section class="choice">
  <div class="choice-content">
    <h2 class="choice-content__header">Choose the way to play your music.</h2>
    <div class="choice-content__desc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Expedita officiis quisquam, sed quo error esse minus,
      architecto, placeat aliquam laborum cumque
      possimus aspernatur ducimus quibusdam ut sequi. Provident, non fuga.
    </div>
    <div class="choice-content__button">Start Listening</div>
  </div>
</section>



<section class="pricing">
  <div class="pricing-content">
    <h2 class="pricing-content__header">Choose how you want to listen</h2>
    <div class="pricing-content-options">
        <div class="pricing-content-options__free">
          <h4 class="pricing-content-options__header">Waless</h4>
          <h5 class="pricing-content-options__sub-heading">Free</h5>
          <h2 class="pricing-content-options__sub-sub-heading">Ad-supported music.</h2>
          <ul class="pricing-content-options-provisions">
            <li class="pricing-content-options-provisions__item">Listen to countless music</li>
          </ul>
          <div class="pricing-content-options__button">Start listening now</div>
        </div>
        <div class="pricing-content-options__premium-plus">
          <h4 class="pricing-content-options__header">Waless Plus</h4>
          <h5 class="pricing-content-options__sub-heading">$4.99/month</h5>
          <h2 class="pricing-content-options__sub-sub-heading">Music with no ads.</h2>
          <ul class="pricing-content-options-provisions">
            <li class="pricing-content-options-provisions__item">Unlimited personalized playlists</li>
            <li class="pricing-content-options-provisions__item">Higher quality music</li>
            <li class="pricing-content-options-provisions__item">Unlimited skips and replays</li>
            <li class="pricing-content-options-provisions__item">No ads</li>
          </ul>
          <div class="pricing-content-options__button">Start listening now</div>
        </div>
        <div class="pricing-content-options__family">
          <h4 class="pricing-content-options__header">Waless Family</h4>
          <h5 class="pricing-content-options__sub-heading">$14.99/month</h5>
          <h2 class="pricing-content-options__sub-sub-heading">On-demand music for up to 6 family members.</h2>
          <ul class="pricing-content-options-provisions">
            <li class="pricing-content-options-provisions__item">Everything from Waless Plus and even more</li>
            <li class="pricing-content-options-provisions__item">As low as $2.50 for each account</li>
            <li class="pricing-content-options-provisions__item">Invite new or existing Waless listeners</li>
            <li class="pricing-content-options-provisions__item">Everyone controls their own music</li>
          </ul>
          <div class="pricing-content-options__button">Start listening now</div>
        </div>
    </div>
  </div>
</section>

<footer class="site-footer">
  <ul class="site-footer-content">
    <li class="site-footer-content__item">About</li>
    <li class="site-footer-content__item">Careers</li>
    <li class="site-footer-content__item">Press</li>
    <li class="site-footer-content__item">Terms</li>
    <li class="site-footer-content__item">Privacy</li>
  </ul>
</footer>
