<ng-template #pluralTracks>
  <span class="album-content__track-num__text">tracks</span>
</ng-template>

<ng-template #loading>
  <span class="ws-loading ws-shift">Loading...</span>
</ng-template>
<ngb-alert [ngStyle]="{'text-align':'center'}"
*ngIf="isError" [type]="'danger'"
[dismissible]="true">Sorry. An error occured while loading tracks. Please reload.</ngb-alert>
<div *ngIf="isLoaded && src; else loading" class="album ws-shift">
  <div class="album-cover">
    <img class="album-cover__pic" [src]="src.cover_medium || src.picture_medium || '/assets/images/playlist/playlist.jpg'" [alt]="src.title">
  </div>
  <div class="album-content">
    <div class="album-content-title-ex">
      <h3 class="album-content-title-ex__title">{{src.title}}</h3>
      <span title="songs may contain explicit words" class="album-content-title-ex__explicit" *ngIf="src.explicit_lyrics">Explicit</span>
    </div>
    <h5 *ngIf="src?.artist?.name" [routerLink]="['/artist', src?.artist?.id]" class="album-content__artist ws-focus-border">{{src?.artist?.name | titlecase}}</h5>
    <h5 *ngIf="src?.last_updated"
    class="album-content__artist album-content__artist-playlist ws-focus-border">{{'Last updated '+ (src?.last_updated | date)}}</h5>
    <span *ngIf="src.release_date" class="album-content__date">{{src?.release_date | date:"y"}}</span>
    <!-- TODO: Add TrackDuration Pipe -->
    <span *ngIf="!src.release_date" class="album-content__date">Duration: {{src?.duration | trackDuration : 'true'}}</span>
    <span class="album-content__track-num">{{trackList.length}}
      <span *ngIf="trackList.length == 1;else pluralTracks" class="album-content__track-num__text">track</span>
    </span>

    <div class="album-content-actions">
      <span class="album-content-actions__play ws-btn" (click)="playerHandler.startAlbum(src)">Play</span>
      <i class="album-content-actions__fav fa fa-heart-o"></i>
      <i
      #p="ngbPopover"
      [ngbPopover]="topEllipsisContent"
      [autoClose]="true"
      placement="bottom"
      class="album-content-actions__more fa fa-ellipsis-h"></i>

      <ng-template #topEllipsisContent>
        <ul class="ws-ellipsis-icon-items" (click)="onEllipsisClick($event,p)" >
          <li class="ws-ellipsis-icon-items__item">Play Album next</li>
          <li class="ws-ellipsis-icon-items__item">Add Album to Library</li>
          <li class="ws-ellipsis-icon-items__item">Share Album</li>
        </ul>
      </ng-template>
    </div>

    <ul class="album-content-tracks ws-ul-reset">
      <li *ngFor="let track of trackList; let i=index;" class="album-content-tracks__track" (click)="playerHandler.startSelectedTrack(trackList, i, src, src?.type)">
        <div [title]="track.title" class="album-content-tracks__track__title">{{(track.title | customSlice: 30) | titlecase}}
          <div class="album-content-tracks__track__title-extra">
            <h6 [routerLink]="['/artist', track.artist.id]" class="album-content-tracks__track__title-extra-artist ws-focus-border">
              {{track.artist.name}}
            </h6>
            <span
              title="This song may contain explicit words"
              *ngIf="track.explicit_lyrics" class="album-content-tracks__track__title-extra-exp">
              Explict
            </span>
          </div>
        </div>
        <div class="album-content-tracks__track-dur-more">
          <span class="album-content-tracks__track-dur-more__duration">{{track.duration | trackDuration}}</span>
          <i
          #p="ngbPopover"
          [ngbPopover]="ellipsisContent"
          (click)="$event.stopPropagation()"
          [autoClose]="true"
          placement="bottom"
          popoverClass="ws-ellipsis-more-container"
          class="album-content-tracks__track-dur-more__more fa fa-ellipsis-h"></i>

          <ng-template #ellipsisContent>
            <ul class="ws-ellipsis-icon-items"
             (click)="onEllipsisClick($event,p)" >
              <li class="ws-ellipsis-icon-items__item">Play Next</li>
              <li class="ws-ellipsis-icon-items__item"
                #x="ngbPopover"
                [ngbPopover]="addToPlaylist"
                triggers="mouseenter"
                [autoClose]="true"
                popoverClass="ws-add-playlist-container"
                placement="left">
                <i class="fa fa-angle-left ws-btn"></i>
                Add to Playlist
              </li>
              <li class="ws-ellipsis-icon-items__item">Share</li>
            </ul>
          </ng-template>

          <ng-template #addToPlaylist >
            <ul
            class="ws-ellipsis-icon-items ws-add-playlist-items" >
                <h6 class="ws-add-playlist-heading">My Playlists</h6>
                <hr>
                <h6 (click)="open(track)" class="ws-add-playlist-new">New Playlist</h6>
              <li
              (click)="onAddToPlaylistClick($event,p,track,playlist)"
              *ngFor="let playlist of playlists" class="ws-ellipsis-icon-items__item ws-add-playlist-items__item">
                {{playlist.title}}
              </li>
            </ul>
          </ng-template>

        </div>
      </li>
    </ul>
  </div>
</div>
