@import "~src/assets/scss/styles";

@mixin icon-style {
    font-size: 1.5rem;
    cursor: pointer;
    opacity: .8;
    max-width: 85%;
}

.album {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
    padding-top: 50px;
    background: $grayBlack;
    color: $smokeWhite;
    font-family: "Open Sans", sans-serif;

    &-cover {
        text-align: center;
    }

    &-content {
        &-title-ex {
            display: flex;
            align-items: center;

            &__explicit {
                @include explicit;

                height: fit-content;
                margin-left: 10px;
                background-color: rgba(117, 60, 29, 0.68);
                font-size: 0.68rem;
                padding: 0 10px;
            }
        }

        &__date {
            padding-right: 20px;
            border-right: solid 1px;
            font-size: .89rem;
            opacity: .7;
        }

        &__track-num {
            padding: 0 20px;
            font-size: .89rem;

            &__text {
                opacity: .5;
            }
        }

        &__artist {
            font-size: .94rem;
            opacity: .8;
            cursor: pointer;
            max-width: fit-content;

            &:hover {
                text-decoration: underline;
            }
        }

        &-actions {
            display: flex;
            max-width: 50%;
            align-items: center;
            margin: 30px 0;

            &__play {
                padding: 10px 30px;
                border-radius: 50px;
                margin-right: 30px;
            }

            &__fav {
                @include icon-style;

                margin-right: 30px;
            }

            &__more {
                @include icon-style;

                margin-right: 30px;
            }
        }

        &-tracks {
            padding-bottom: 100px;

            &__track {
                list-style: none;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                margin-right: 15px;

                &:hover {
                    background: $transparentBlack;

                    .album-content-tracks__track-dur-more__more {
                        visibility: visible;
                    }
                }

                &-dur-more {
                    margin-right: 40px;

                    &__duration {
                        padding-right: 30px;
                    }

                    &__more {
                        @include icon-style;

                        font-size: 1rem;
                        visibility: hidden;
                    }
                }

                &__title {
                    &-extra {
                        display: flex;

                        &-exp {
                            font-size: .8rem;
                            color: rgba(117, 60, 29, 1);
                            padding-left: 2px;
                            cursor: help;
                        }

                        &-artist {
                            font-size: .9rem;
                            opacity: .3;
                            margin-right: 5px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
