<ng-template #pluralTracks>
  <span class="album-content__track-num__text">tracks</span>
</ng-template>

<div *ngIf="album" class="album ws-shift">
  <div class="album-cover">
    <img class="album-cover__pic" [src]="album.cover_medium" [alt]="album.title">
  </div>
  <div class="album-content">
    <div class="album-content-title-ex">
      <h3 class="album-content-title-ex__title">{{album.title}}</h3>
      <span title="songs may contain explicit words" class="album-content-title-ex__explicit" *ngIf="album.explicit_lyrics">Explicit</span>
    </div>
    <h5 [routerLink]="['/artist', album.artist.id]" class="album-content__artist ws-focus-border">{{album.artist.name | titlecase}}</h5>
    <span class="album-content__date">{{album.release_date | date:"y"}}</span>
    <span class="album-content__track-num">{{albumTracks.length}}
      <span *ngIf="albumTracks.length == 1;else pluralTracks" class="album-content__track-num__text">track</span>
    </span>

    <div class="album-content-actions">
      <span class="album-content-actions__play ws-btn" (click)="playerHandler.startAlbum(album)">Play</span>
      <i class="album-content-actions__fav fa fa-heart-o"></i>
      <i class="album-content-actions__more fa fa-ellipsis-h"></i>
    </div>

    <ul class="album-content-tracks ws-ul-reset">
      <li *ngFor="let track of albumTracks; let i=index;" class="album-content-tracks__track" (click)="playerHandler.startSelectedTrack(albumTracks, i)">
        <div [title]="track.title" class="album-content-tracks__track__title">{{(track.title | customSlice: 30) | titlecase}}
          <div class="album-content-tracks__track__title-extra">
            <h6 [routerLink]="['/artist', track.artist.id]" class="album-content-tracks__track__title-extra-artist ws-focus-border">
              {{track.artist.name}}
            </h6>
            <span
              title="This song may contain explicit words"
              *ngIf="track.explicit_lyrics" class="album-content-tracks__track__title-extra-exp">
              Explict
            </span>
          </div>
        </div>
        <div class="album-content-tracks__track-dur-more">
          <span class="album-content-tracks__track-dur-more__duration">{{(track.duration /60 | number: '1.2-2') | trackDuration}}</span>
          <i class="album-content-tracks__track-dur-more__more fa fa-ellipsis-h"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
<ws-player
  [playing]="playerHandler.isPlaying()"
  (play)="playerHandler.play()"
  (pause)="playerHandler.pause()"
  (stop)="playerHandler.stop()"
  (next)="playerHandler.next()"
  (previous)="playerHandler.previous()">
</ws-player>
