@import "~src/assets/scss/styles";

.queue {
    background: $grayBlack;
    color: $smokeWhite;
    min-height: 100vh;
    padding-top: 50px;
    font-family: "Roboto", sans-serif;

    &-header {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 30px;
        opacity: .5;
        font-weight: 600;
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 2fr;

        &-list {
            &-item {
                list-style: none;

                &-img {
                    text-align: center;

                    &-actions {
                        font-size: 2rem;
                        margin-top: 40px;

                        &__fav {
                            margin-right: 40px;
                            opacity: .4;
                            cursor: pointer;

                            &:hover {
                                opacity: .5;
                            }
                        }

                        &__add {
                            opacity: .4;
                            cursor: pointer;

                            &:hover {
                                opacity: .5;
                            }
                        }
                    }
                }

                &-tracks {
                    font-size: 1.07rem;

                    &-track {
                        display: grid;
                        grid-template-columns: 2fr 1fr 1fr;
                        padding: 15px 10px;
                        margin-right: 15px;
                        cursor: pointer;

                        &:hover {
                            background: $transparentBlack;

                            .queue-content-list-item-tracks-track-dur-more__more {
                                visibility: visible;
                            }
                        }

                        &__artist-name {
                            opacity: .8;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &-dur-more {
                            display: flex;
                            padding: 0 30px;
                            justify-content: space-between;
                            align-items: center;
                            opacity: .7;

                            &__more {
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}
