<ng-template #loading>
  <span class="queue queue-loading ws-shift">Loading...</span>
</ng-template>

<div *ngIf="(isLoaded$ | async) && tracks$ | async as tracks; else loading" class=" ws-shift queue">
  <h3 class="queue-header">Now Playing</h3>
  <div class="queue-content">
    <ws-currently-playing ></ws-currently-playing>
    <ul class="queue-content-list">
      <li class="queue-content-list-item" *ngFor="let track of tracks; let i=index">
        <div class="queue-content-list-item-tracks" (click)="playerHandler.initializeQueue(tracks,i,true)">
          <div class="queue-content-list-item-tracks-track">
            <span [title]="track.title | titlecase" class="queue-content-list-item-tracks-track__title">
              {{(track.title | customSlice: 25) | titlecase}}
            </span>
            <span
              [routerLink]="['/artist', track.artist.id]"
              [title]="track.artist.name"
              class="queue-content-list-item-tracks-track__artist-name ws-focus-border">
              {{(track.artist.name | customSlice: 15)}}
            </span>
            <div class="queue-content-list-item-tracks-track-dur-more">
              <span class="queue-content-list-item-tracks-track-dur-more__duration">
                {{(track.duration /60 | number: '1.2-2') | trackDuration}}
              </span>
              <i class="queue-content-list-item-tracks-track-dur-more__more fa fa-ellipsis-h"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<ws-player
  [playing]="playerHandler.isPlaying()"
  (play)="playerHandler.play()"
  (pause)="playerHandler.pause()"
  (stop)="playerHandler.stop()"
  (next)="playerHandler.next()"
  (previous)="playerHandler.previous()">
</ws-player>
