@import "~src/assets/scss/styles";

.queue {
    background: $grayBlack;
    color: $smokeWhite;
    min-height: 100vh;
    padding-top: 50px;
    font-family: "Roboto", sans-serif;

    &-list {
        &-item {
            display: grid;
            grid-template-columns: 1fr 2fr;
            list-style: none;

            &-tracks {
                font-size: 1.07rem;

                &-track {
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr;
                    padding: 15px 10px;
                    margin-right: 15px;
                    cursor: pointer;

                    &:hover {
                        background: $transparentBlack;

                        .queue-list-item-tracks-track-dur-more__more {
                            visibility: visible;
                        }
                    }

                    &__title {}

                    &__artist-name {}

                    &-dur-more {
                        display: flex;
                        padding: 0 30px;
                        justify-content: space-between;

                        &__more {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}
