<ws-leftsidebar></ws-leftsidebar>
<div class="browse">
<ul class="browse-list">
  <li *ngFor="let album of albums" class="browse-list__item">
      <img [src]="album.cover_medium" class="browse-list__item__album-pic" alt="">
      <div class="browse-list__item__album-details">
          <div class="browse-list__item__album-details__names">
              <span class="browse-list__item__artist-name">
                  {{album.artist.name}}
              </span>
              <span class="browse-list__item__album-name">
                  {{album.title}}
              </span>
          </div>
          <span *ngIf="album.explicit_lyrics" class="browse-list__item__album-details__exp">Explicit</span>
      </div>
  </li>
</ul>
</div>
