<ngb-alert [ngStyle]="{'text-align':'center'}"
*ngIf="isError" [type]="'danger'"
[dismissible]="true">Sorry. An error occured while loading tracks. Please reload.</ngb-alert>
<div class="browse ws-shift">
  <h3 class="browse__top-heading">Top Albums</h3>
  <ws-browse-item [isLoaded]="isLoaded" [items]="albums$ | async"></ws-browse-item>
  <h3 class="browse__top-heading browse__top-heading-playlist">Treading Playlists</h3>
  <ws-browse-item [isLoaded]="isLoaded" [items]="playlists$ | async"></ws-browse-item>
  <h3 class="browse__top-heading browse__top-heading-playlist">Treading Artists</h3>
  <ws-browse-item [isLoaded]="isLoaded" [items]="artists$ | async"></ws-browse-item>
</div>

<ws-player
  [playing]="playerHandler.isPlaying()"
  (play)="playerHandler.play()"
  (pause)="playerHandler.pause()"
  (stop)="playerHandler.stop()"
  (next)="playerHandler.next()"
  (previous)="playerHandler.previous()">
</ws-player>
