@import "~src/assets/scss/styles";

.browse {
    margin-top: 10vh;
    margin-left: 15%;

    &-albums {
        font-family: "Open Sans", sans-serif;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
        grid-auto-rows: 1fr;
        grid-gap: 20px;
        justify-content: center;

        &__img-play {
            position: relative;

            &:hover {
                background: $mainBlack;

                .browse-albums__album__pic {
                    opacity: .3;
                }

                .browse-albums__album__btn {
                    visibility: visible;
                }
            }
        }

        &__album {
            list-style: none;
            max-width: 250px;

            &__name {
                opacity: .7;
            }

            &__btn {
                position: absolute;
                top: calc(50% - 30px);
                left: calc(50% - 30px);
                width: 60px;
                height: 60px;
                background-color: transparent;
                border-radius: 30px;
                border-color: $mainWhite;
                color: $mainWhite;
                border-width: 3px;
                font-size: 20px;
                padding-left: 12px;
                visibility: hidden;
                cursor: pointer;
            }

            &__details {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__exp {
                    background-color: rgb(248, 71, 71);
                    font-size: .6rem;
                    padding: 5px;
                    color: $mainWhite;
                    cursor: help;
                }

                &__names {
                    display: flex;
                    flex-direction: column;
                }
            }

            &__artist-name {
                margin-top: 10px;
                font-weight: bold;
            }

            &__pic {
                object-fit: contain;
                cursor: pointer;
                box-shadow: 0 10px 6px -6px #777;
            }
        }
    }
}
