<div class="queue-content-list-item-img" *ngIf="currentlyPlayingTrack$ | async as currentlyPlaying" >

  <img [src]="currentlyPlaying?.album?.cover_medium" [alt]="currentlyPlaying?.title" class="queue-content-list-item-img__img">
  <div class="queue-content-list-item-img__track-name">
    <div class="queue-content-list-item-img__track-name__track">
      {{currentlyPlaying?.title}}
    </div>
    <div
      [routerLink]="['/artist', currentlyPlaying?.artist?.id]"
      class="queue-content-list-item-img__track-name__artist-name ws-focus-border">
      <span class="queue-content-list-item-img__track-name__artist-name__artist" >Artist</span> - {{currentlyPlaying?.artist?.name}}
    </div>
    <div
      [routerLink]="['/album', currentlyPlaying?.album?.id]"
      class="queue-content-list-item-img__track-name__album-name ws-focus-border">
      <span class="queue-content-list-item-img__track-name__album-name__album" >Album</span> - {{currentlyPlaying?.album?.title}}
    </div>
  </div>
  <div class="queue-content-list-item-img-actions">
    <i class="queue-content-list-item-img-actions__fav fa fa-heart-o"></i>
    <i class="queue-content-list-item-img-actions__add fa fa-plus"></i>
  </div>
</div>
