@import "~src/assets/scss/styles";

.ws-logo {
    &-long {
        padding-left: 30px;
        display: block;

        @include --phone(0, 1200px) {
            display: none;
        }
    }

    &-short {
        display: none;

        @include --phone {
            display: block;
            padding-left: 12px;
        }


        @include --tablet(576px, 1200px) {
            display: block;
            padding-left: 30px;
        }
    }
}

.ws-sb-cursor {
    cursor: pointer;
}

.sidebar {
    font-family: 'Open Sans', sans-serif;
    background: $lightBlack;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: fit-content;
    padding-right: 20px;

    &-icon {
        @include --phone {
            padding-right: 0;
            max-height: 25px;
            max-width: 25px;
        }
    }

    &-content {
        list-style: none;
        margin-top: 30px;
        letter-spacing: 1.7px;
        font-size: 1rem;
        padding-left: 30px;

        @include --phone {
            padding-left: 12px;
        }


        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            max-width: fit-content;
        }

        &__header {
            font-size: .9rem;
            opacity: .6;
            margin-bottom: 10px;
        }

        &__list-text {
            margin-left: 10px;
            cursor: pointer;
            font-size: .9rem;
            opacity: .5;

            &:hover {
                opacity: .7;
                transition: opacity .5s;
            }

            @include --phone(0, 1200px) {
                display: none;
            }
        }
    }

    &-browse {
        &__item {
            margin-bottom: 50px;
        }
    }

    &-collection {
        margin-top: 70px;

        &__item {
            &__playlist-icon {
                margin-left: -4.2px;

                @include --phone {
                    margin-left: -2.2px;
                }
            }
        }
    }
}
