@import "~src/assets/scss/styles";

.ws-logo {
    padding-left: 35px;
}

.ws-sb-cursor {
    cursor: pointer;
}

.sidebar {
    font-family: 'Open Sans', sans-serif;
    background: $lightBlack;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15%;

    &-content {
        list-style: none;
        margin-top: 30px;
        letter-spacing: 1.7px;
        font-size: 1rem;

        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }

        &__header {
            font-size: .9rem;
            opacity: .6;
            margin-bottom: 10px;
        }

        &__list-text {
            margin-left: 10px;
            cursor: pointer;
        }
    }

    &-browse {
        &__item {
            margin-bottom: 50px;
        }
    }

    &-collection {
        &__item {
            &__playlist-icon {
                margin-left: -4.2px;
            }
        }
    }
}
