<div *ngIf="auth.loggedIn()">
  <div *ngIf="router.url != '/'" class="sidebar">
    <a class="ws-logo ws-logo-long" routerLink="">Waless</a>
    <a class="ws-logo ws-logo-short" routerLink="">W</a>
    <ul class="sidebar-content sidebar-browse ws-ul-reset">
      <li class="sidebar-browse__item sidebar-content__item">
        <img
        alt="Home"
        class="sidebar-content__item__home-icon sidebar-icon ws-focus-border ws-sb-cursor"
        routerLink="browse"
        src="/assets/images/svg/home.svg"
        />
        <span routerLink="browse" class="sidebar-content__list-text ws-focus-border">Home</span>
      </li>
    </ul>
    <ul class="sidebar-content sidebar-collection ws-ul-reset">
      <li class="sidebar-collection__item sidebar-content__item">
        <img
        alt="Favourites"
        class="sidebar-collection__item__fav-icon ws-focus-border ws-sb-cursor sidebar-icon"
        src="/assets/images/svg/fav.svg"
        />
        <span class="sidebar-content__list-text">Favourites</span>
      </li>
      <li [routerLink]="'playlist'" class="sidebar-collection__item sidebar-content__item ws-focus-border">
        <img
        alt="Playlists"
        class="sidebar-collection__item__playlist-icon ws-focus-border ws-sb-cursor sidebar-icon"
        src="/assets/images/svg/playlist.svg"
        />
        <span class="sidebar-content__list-text">Playlists</span>
      </li>
      <li class="sidebar-collection__item sidebar-content__item">
        <img
        alt="Albums"
        class="sidebar-collection__item__album-icon ws-focus-border ws-sb-cursor sidebar-icon"
        src="/assets/images/svg/album.svg"
        />
        <span class="sidebar-content__list-text">Albums</span>
      </li>
    </ul>
  </div>
</div>
